{% extends 'layout/base.html' %}

{% block title %}Course Form{% endblock title %}

{% block content %}
<div class="row justify-content-center my-4">
    <div class="col-md-6">
        <div class="card shadow-lg p-4 rounded">
            <div class="card-body">
                <h2 class="text-center text-secondary mb-4">Add a New Trainee</h2>

                <form method="POST"
                    action="{% url 'trainee:createTrainee' %}" enctype="multipart/form-data" >
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="trainee_name" class="form-label fw-bold">Full Name</label>
                        <input type="text" id="trainee_name" name="trainee_name" class="form-control" placeholder="Enter Your Name" required>
                    </div>

                    <div class="mb-3">
                        <label for="trainee_email" class="form-label fw-bold">Email</label>
                        <input type="email" id="trainee_email" name="trainee_email" class="form-control" placeholder="Enter email address" required>
                    </div>

                    <div class="mb-3">
                        <label for="trainee_course" class="form-label fw-bold">Select Course</label>
                        <select id="course" name="course" class="form-select" required>
                            <option value="" selected disabled>Select a course</option>
                            {% for course in courses %}
                                <option value="{{ course.id }}">{{ course.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-secondary">Add Trainee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{%endblock%}