{% extends 'layout/base.html' %}

{% block title %}Course Form{% endblock title %}

{% block content %}
<div class="row justify-content-center my-4">
    <div class="col-md-6">
        <div class="card shadow-lg p-4 rounded">
            <div class="card-body">
                <h2 class="text-center text-secondary mb-4">Add a New Course</h2>

                <form method="POST">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label fw-bold">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}

                    <div class="d-grid">
                        <button type="submit" class="btn btn-secondary">Add Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}


