{% extends 'layout/base.html' %}

{% block title %}Course Form{% endblock title %}

{% block content %}
<div class="row justify-content-center my-4">
    <div class="col-md-6">
        <div class="card shadow-lg p-4 rounded">
            <div class="card-body">
                <h2 class="text-center text-secondary mb-4">Add a New Trainee</h2>

                <form method="POST"  enctype="multipart/form-data"> 
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label fw-bold">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}

                    
                    
                    {% comment %} <div class="mb-3">
                        <label for="name" class="form-label fw-bold">Full Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter Your Name" >
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label fw-bold">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter email address" >
                    </div>

                    <div class="mb-3">
                        <label for="course" class="form-label fw-bold">Select Course</label>
                        <select id="course" name="course" class="form-select" required>
                            <option value="" selected disabled>Select a course</option>
                            {% for course in courses %}
                                <option value="{{ course.id }}">{{ course.name }}</option>
                            {% endfor %}
                        </select>
                    </div> {% endcomment %}

                    <div class="d-grid">
                        <button type="submit" class="btn btn-secondary">Add Trainee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{%endblock%}